# Jira config.
jira_url="http://jira.example.com"
jira_username="my_jira_username"
jira_password="my_jira_password"
# Confluence config.
confluence_url="http://confluence.example.com"
confluence_username="my_jira_username"
confluence_password="my_jira_password"
# Misc. config.
database="/path/to/database.db"
